image: node:latest

stages:
  - build

variables:
  GIT_USER_NAME: "Commit Bot"
  GIT_USER_EMAIL: "bot@example.com"
  GIT_SSH_KEY: "SSH-Private-Key-Base64"
  GIT_REPO_URL: "ssh://git@codeberg.org/aao-fyi/.profile.git"
  README_SOURCE: "./assets/readme/source.md"
  README_PROFILE: "./profile/README.md"
  README_ROOT: "./README.md"
  LOGOS_PATH: "./assets/logos"

build:
  stage: build
  before_script:
    # Configure git
    - git config user.name "$GIT_USER_NAME"
    - git config user.email "$GIT_USER_EMAIL"
    - git remote set-url origin "$GIT_REPO_URL"
    # Configure SSH
    - mkdir -p ~/.ssh
    - echo "$GIT_SSH_KEY" | base64 --decode > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan codeberg.org >> ~/.ssh/known_hosts
    # Checkout
    - git checkout -b build

    # Install svgo
    - npm install -g svgo
    # Install svg2png
    - npm install -g svg2png
  script:
    # Build README
    - |
      sed 's|src="./|src="./assets/readme/|g' "$README_SOURCE" > "$README_ROOT"
      mkdir -p "$(dirname "$README_PROFILE")"
      sed 's|src="./|src="../assets/readme/|g' "$README_SOURCE" > "$README_PROFILE"
    # Build Logos
    - |
      mkdir -p "$(dirname "$README_PROFILE")"
      find "$LOGOS_PATH" -type d -exec sh -c '
        srcdir="$1"
        basename="$(basename "$srcdir")"
        outdir="./logos/$basename"
        mkdir -p "$outdir"
        if [ -e "$srcdir"/source.svg ]; then
          svgo -i "$srcdir"/source.svg -o "$outdir"/logo.svg
        fi
        if [ -e "$outdir"/logo.svg ]; then
          svg2png "$outdir"/logo.svg --output="$outdir"/logo.png --width=512
        fi
      ' sh '{}' \;
  after_script:
    # Commit changes
    - git add .
    - git commit -m "Build [skip ci]"
    # Push changes
    - git push origin build:main

  only:
    - main
